################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CommonPackage/bin/Debug
/CommonPackage/obj/Debug
/CommonPackageBAL/obj/Debug
